<div class="examBox">
    <div class="examhead text-center"><h2>اختبار {{exams?.name}}</h2></div>
    <div class="quizBox" *ngFor="let item of exams?.questions;let index = index ">
        <strong ><span class="text-danger">سؤال {{1 + index}}</span> .  {{item.question}}</strong>
        <div class="row mt-3" >
            <div *ngIf="user.roleType=='students'" class="col-md-6 col-sm-12">
                <mat-radio-button  name="{{index}}" *ngIf="!resultFlag && validExam" (change)="getAnswer($event)" value="{{item.answer1}}" color="warn"></mat-radio-button>
                <label> {{item.answer1}}</label>
            </div>

            <div *ngIf="user.roleType=='students'" class="col-md-6 col-sm-12">
                <mat-radio-button  name="{{index}}" *ngIf="!resultFlag && validExam" (change)="getAnswer($event)" value="{{item.answer2}}"  color="warn"></mat-radio-button>
                <label> {{item.answer2}}</label>
            </div>

            <div *ngIf="user.roleType=='students'" class="col-md-6 col-sm-12">
                <mat-radio-button name="{{index}}" *ngIf="!resultFlag && validExam" (change)="getAnswer($event)" value="{{item.answer3}}"  color="warn"></mat-radio-button>
                <label> {{item.answer3}}</label>
            </div>

            <div *ngIf="user?.roleType=='students'" class="col-md-6 col-sm-12">
                <mat-radio-button name="{{index}}" *ngIf="!resultFlag && validExam" (change)="getAnswer($event)" value="{{item.answer4}}" color="warn"></mat-radio-button>
                <label> {{item.answer4}}</label>
            </div>
        </div>
        <div class="text-start"  >
            <button *ngIf="user?.roleType=='doctor'" mat-raised-button (click)="deleteQuestion(index)" class="btn btn-danger" >حذف</button>
        </div>
        <hr>
    </div>
    <div class="text-center" >
        <span   *ngIf="resultFlag  || !validExam" class="fs-4 text-success">{{exams?.questions.length}} / {{total}}</span>
        <button  *ngIf="user?.roleType=='students' && resultFlag == false && validExam" class="btn btn-success px-5 fs-5" (click)="showResult()"> النتيجة</button>
    </div>

</div>